.root {
    -fx-font-family: "Open Sans", sans-serif;
    -fx-font-size: 18px;

    -dark-blue: #002147;
    -cyan: #4BC8B6;
    -white: #ffffff;
    -grey: #939393;
    -green: #32bd3d;
    -red: #FF5353;

    -shadow: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 0, 0)
}