@import "colors.css";

/* Side Bar Styling */
.side-bar {
    -fx-background-color: -dark-blue;
}

.user-bar {
    -fx-background-radius: 0.5em;
}

.user-bar, .context-menu-bar {
    -fx-padding: 10px;
    -fx-background-color: -white;
}

.context-menu-bar.first {
    -fx-background-radius: 0.5em 0.5em 0 0;
}

.context-menu-bar.last {
    -fx-background-radius: 0 0 0.5em 0.5em;
}

.context-menu-bar .button {
    -fx-background-color: rgba(0, 0, 0, 0);
}

.danger-text {
    -fx-text-fill: -red;
}

/* Hiding Tab Selection */
.tab-pane {
    -fx-tab-max-height: 0 ;
}

.tab-pane .tab-header-area {
    visibility: hidden ;
    -fx-padding: -20 0 0 0;
}

/* Toast Styling */
.toast {
    -fx-padding: 10;
    -fx-border-width: 5;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-background-radius: 4px;
    -fx-effect: -shadow;
}

.success {
    -fx-background-color: -green;
}

.error {
    -fx-background-color: -red;
}

/* Button Styling */
.button {
    -fx-background-radius: 0.5em;
    -fx-text-fill: -dark-blue;
    -fx-background-color: -cyan;
    -fx-effect: -shadow;
}

.check-box .box,
.check-box:selected .box{
    -fx-background-color: -dark-blue;
}

.check-box {
    -fx-text-fill: -dark-blue;
}

.check-box:selected .mark {
    -fx-background-color: -white;
}

/* TextField Styling */
.text-field {
    -fx-padding: 10px;
    -fx-background-color: -dark-blue;
    -fx-prompt-text-fill: -white;
    -fx-text-fill: -white;
}

/* Label Styling */
.label {
    -fx-text-fill: -dark-blue;
}
